In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder

In [22]:
df = pd.read_csv('/content/city_day.csv')

In [23]:
df.shape

(29531, 16)

In [24]:
df.nunique()

City             26
Date           2009
PM2.5         11716
PM10          12571
NO             5776
NO2            7404
NOx            8156
NH3            5922
CO             1779
SO2            4761
O3             7699
Benzene        1873
Toluene        3608
Xylene         1561
AQI             829
AQI_Bucket        6
dtype: int64

In [25]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [27]:
# Fill missing values in the target variable
df['AQI'].fillna(df['AQI'].mean(), inplace=True)

In [28]:
df.drop(['NH3', 'Benzene', 'Toluene', 'Xylene','AQI_Bucket'], axis=1, inplace=True)

In [29]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,CO,SO2,O3,AQI
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,0.92,27.64,133.36,166.463581
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,0.97,24.55,34.06,166.463581
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,17.40,29.07,30.70,166.463581
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,1.70,18.59,36.08,166.463581
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,22.10,39.33,39.31,166.463581

In [30]:
X = df[['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'CO', 'SO2', 'O3']]
y = df['AQI']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [32]:
# Fill missing values after splitting the data
X_train.fillna(X_train.mean(), inplace=True)
X_test.fillna(X_test.mean(), inplace=True)

In [33]:
print(X_train.shape)
print(X_test.shape)

(23624, 8)
(5907, 8)

In [39]:
# Encode categorical variables if needed
encoder = OneHotEncoder(handle_unknown='ignore')
X_encoded = encoder.fit_transform(X)

In [40]:
reg = LinearRegression()

In [41]:
reg.fit(X_train, y_train)

LinearRegression()

In [43]:
y_pred = reg.predict(X_test)

In [44]:
r2_score(y_test,y_pred)

0.79408101368113

In [45]:
reg.coef_

array([ 0.99276511,  0.26415241, -0.07027722,  0.40674534,  0.1465037 ,
       10.23779984,  0.65622154,  0.19177475])

In [46]:
reg.intercept_

14.211661775436397

In [47]:
print("MSE",mean_squared_error(y_test,y_pred))
print("R2 score",r2_score(y_test,y_pred))

MSE 3247.2871743817623
R2 score 0.79408101368113

## model Predictions

In [58]:
class MLR:
    def __init__(self):
        self.coef_ = None
        self.intercept_ = None

    def fit(self, X_train, y_train):
        ones = np.ones((X_train.shape[0], 1))
        X_train = np.hstack((ones, X_train))

        # calculate the coefficients using the normal equation
        XtX_inv = np.linalg.inv(X_train.T.dot(X_train))
        betas = XtX_inv.dot(X_train.T).dot(y_train)
        self.intercept_ = betas[0]
        self.coef_ = betas[1:]
        
    def predict(self, X_test):
        ones = np.ones((X_test.shape[0], 1))
        X_test = np.hstack((ones, X_test))
        y_pred = X_test.dot(np.concatenate(([self.intercept_], self.coef_)))
        return y_pred

In [59]:
lr = MLR()

In [60]:
lr.fit(X_train,y_train)

In [61]:
X_train.shape

(23624, 8)

In [62]:
y_pred = lr.predict(X_test)

In [63]:
r2_score(y_test,y_pred)

0.79408101368113

In [64]:
lr.coef_

array([ 0.99276511,  0.26415241, -0.07027722,  0.40674534,  0.1465037 ,
       10.23779984,  0.65622154,  0.19177475])

In [65]:
lr.intercept_

14.211661775436674

In [66]:
y_pred = reg.predict(X_test)
print("Linear Regression:")
print("R2 score:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))

# Custom MLR model
lr = MLR()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print("\nCustom MLR:")
print("R2 score:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("Intercept:", lr.intercept_)
print("Coefficients:", lr.coef_)

Linear Regression:
R2 score: 0.79408101368113
MSE: 3247.2871743817623

Custom MLR:
R2 score: 0.79408101368113
MSE: 3247.2871743817623
Intercept: 14.211661775436674
Coefficients: [ 0.99276511  0.26415241 -0.07027722  0.40674534  0.1465037  10.23779984
  0.65622154  0.19177475]